/* Main Page */
body {
    background-image: url("../images/bettericerink.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    font-family: 'Sintony', sans-serif;
}

/* Header */
header {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    padding: 0px 20px;
}

/* Top Buttons and Their Related Div */
.playerButton {
    margin: 5px;
    background-color: rgb(153, 26, 36);
    border-color: rgb(153, 26, 36);
}

#buttons {
    margin-bottom: 20px;
    text-align: center;
}

/* GIF Category Addition Form */
#addNewCategory {
    background-color: rgb(153, 26, 36);
    border-color: rgb(153, 26, 36);
}

#newGifForm {
    margin-top: 80px;
    margin-bottom: 20px;
    background-color: rgba(228, 241, 255, 0.836);
    border: 2px solid rgb(153, 26, 36);
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

#gifRequest {
    width: 75%;
}

/* GIF Display Section */
p {
    font-weight: bold;
}

#gifViewer {
    overflow: auto;
    margin-bottom: 20px;
}






